.burger-menu-button {
  width: 44px;
  height: 37px;
  border: none;
  background-color: #000;
  padding: 0;
  padding-right: 1px;
  padding-bottom: 1px;
  cursor: pointer;
}

.burger-menu__line {
  &,
  &:before,
  &:after {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 17px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.2s, opacity 0.2s, top 0.2s, bottom 0.2s;
  }
  &:before,
  &:after {
    content: "";
    transform-origin: 0% 50%;
  }
  &:before {
    top: -4px;
  }
  &:after {
    bottom: -2px;
  }
}
.burger-menu__line {
  .burger-menu-button--active & {
    background-color: transparent;
    transform: translateX(3.5px);
    &:before {
      transform: rotate(45deg);
      top: -6px;
    }
    &:after {
      transform: rotate(-45deg);
      bottom: -4px;
    }
  }
}
