.divider {
  &:before {
    content: "/";
    padding: 0;
  }
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-color: $accent-color;
  min-width: 320px;
}
.outer-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper {
  max-width: $large-screen-page-wrapper-width;

  margin: 0 auto;
}

.section-header {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $accent-color;
  padding-bottom: 24px;
  @include addPrefix;
}
.section-header-sm {
  display: none;
}
.link {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: color 0.5s, border-color 0.5s;
  &:hover {
    color: inherit;
    border-color: initial;
  }
}
