.footer {
  background-color: #000;
  padding-top: 68px;
  padding-bottom: 72px;
  font-size: 16px;
  color: #b9b9b9;
  text-align: center;
}
.footer-wrapper {
  max-width: 684px;
  margin: 0 auto;
}
.footer__header {
  @include addSuffix;
  color: #fefefe;
  padding-bottom: 18px;
}
.footer__text {
  line-height: 28px;
  padding-bottom: 31px;
  padding-right: 10px;
}
.footer__social-links {
  padding-bottom: 33px;
}
.contacts {
  line-height: 1.75;
}
.footer__divider {
  padding-left: 0.8em;
  padding-right: 0.5em;
}
