.header {
  text-align: right;
}
.header-nav {
  position: relative;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  max-width: 812px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.header__menu {
  margin: 52px auto 53px auto;
}
.menu__link {
  color: $accent-color;

  &:hover {
    border-color: $accent-color;
    color: $accent-color;
  }
  &--active,
  &--active:hover {
    color: #57a4a4;
    border-color: transparent;
    cursor: default;
  }
}
.burger-menu-button {
  display: none;
}
