.posts {
  padding-top: 69px;
  padding-bottom: 71px;
}
.posts__header {
  padding-bottom: 25px;
}
.posts__container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  align-content: space-between;
  column-gap: 4.4%;
  row-gap: 32px;
}
.posts__column {
  max-width: 47%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: space-between;
}
.post {
  overflow: hidden;
  &:after {
    clear: both;
  }
}
.post__link {
  &:hover {
    border-color: $accent-color;
  }
}
.post__header {
  font-size: 16px;
  font-weight: 700;
  color: $accent-color;
  padding-top: 5px;
  padding-bottom: 4px;
}
.post__image {
  width: 160px;
  height: auto;
  object-fit: cover;
  float: left;
  margin-right: 21px;
}
.post__author,
.post__comments-count {
  display: inline-block;
  font-size: 12px;
  color: #7c7c7c;
  padding-top: 6px;
  padding-bottom: 10px;
}

.post__divider {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.post__review {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 26px;
}
