.social-links {
  list-style: none;
  padding: 0;
}
.social-link__container {
  display: inline;
  padding-right: 1.5px;
  &:last-child {
    padding-right: 0;
  }
}
.social-link {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 50%;
  width: 34px;
  padding-top: 6px;
  padding-bottom: 4px;
  aspect-ratio: 1;
  transition: filter 0.2s;
  &:hover {
    border: 2px solid #fff;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7484%)
      hue-rotate(115deg) brightness(117%) contrast(103%);
  }
}
.social-link--rss {
  filter: brightness(0) saturate(100%) invert(63%) sepia(17%) saturate(1795%)
    hue-rotate(345deg) brightness(96%) contrast(102%);
}
.social-link--fb {
  filter: brightness(0) saturate(100%) invert(23%) sepia(87%) saturate(767%)
    hue-rotate(193deg) brightness(107%) contrast(84%);
}
.social-link--twitter {
  filter: brightness(0) saturate(100%) invert(67%) sepia(14%) saturate(2001%)
    hue-rotate(161deg) brightness(92%) contrast(93%);
}
.social-link--dribbble {
  filter: brightness(0) saturate(100%) invert(88%) sepia(15%) saturate(7029%)
    hue-rotate(284deg) brightness(88%) contrast(92%);
}
.social-link--pinterest {
  filter: brightness(0) saturate(100%) invert(23%) sepia(97%) saturate(4172%)
    hue-rotate(345deg) brightness(82%) contrast(94%);
}
.social-icon {
  width: auto;
  height: 12px;
  object-fit: contain;
  vertical-align: baseline;
}
