<footer class="footer">
	<div class="footer-wrapper outer-wrapper">
		<h2 class="section-header footer__header">get in touch with us</h2>
		<p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
			malesuada ullamcorper
			odio.
			<span class="footer__text-md">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span>
		</p>

		<ul class="social-links footer__social-links">
			<li class="social-link__container"><a class="social-link social-link--rss" href="#"><img class="social-icon"
						src="../../img/icons/rss.svg" alt="RSS Link"></a></li>
			<li class="social-link__container"><a class="social-link social-link--fb" href="#"><img class="social-icon"
						src="../../img/icons/facebook.svg" alt="Facebook Page"></a>
			</li>
			<li class="social-link__container"><a class="social-link social-link--twitter" href="#"><img
						class="social-icon" src="../../img/icons/twitter.svg" alt="Twitter Page"></a>
			</li>
			<li class="social-link__container"><a class="social-link social-link--dribbble" href="#"><img
						class="social-icon" src="../../img/icons/dribbble.svg" alt="Dribble Page"></a>
			</li>
			<li class="social-link__container"><a class="social-link social-link--pinterest" href="#"><img
						class="social-icon" src="../../img/icons/pinterest.svg" alt="Pinterest Page"></a>
			</li>
		</ul>
		<div class="contacts">
			<span class="contacts__address">Moonshine St. 14-05 Light City</span><span
				class="divider footer__divider"></span>
			<a class="link contacts__tel" href="tel:+001234567890">T. +00 (123)
				456 78 90</a><span class="divider footer__divider"></span>
			<a class="link contacts__email" href="mailto:first.last@email.com">first.last@email.com</a>
		</div>
	</div>

</footer>